body {
  margin: 20px;
  font-family: Arial, sans-serif;
  background-color: gray;
}

button {
  background-color: aqua;
  border: none;
  padding: 10px 20px;

  hover {
    background-color: lightblue;
  }
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
}